<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @invitation.invitee.email %>!</h1>
    <p>
      <%= @invitation.inviter.email %> has invited you to check out this video.
      <%= @url %>
    </p>
  </body>
</html>
