<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @invitee %>!</h1>
    <p>
      <%= @inviter %> wants you to join this site.
      <%= @url %>
    </p>
  </body>
</html>
